body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overflow: hidden;
}

.cta {
  align-items: center;
  background-color: #0c0c0c;
  color: darkgrey;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Quicksand", sans-serif;
  height: 80vh;
  padding: 20px;
}

.cta-img {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cta-main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 775px;
  min-width: 775px;
}

.cta-main-header {
  padding: 20px;
  width: 80%;
}

.cta-main-header h1 {
  font-size: 3rem;
  margin: 20px 0px;
  margin-bottom: 15px;
  width: 100%;
}

.cta-main-header h3 {
  font-size: 2.3rem;
  width: 90%;
}

.disclaimer {
  color: darkgrey;
  font-size: 1rem;
  margin: 0 0 0 auto;
}

.footer {
  justify-content: center;
  background-color: #481e14;
  color: darkgrey;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  height: 10vh;
  line-height: 50px;
  margin: 0;
  padding: 10px;
}

.footer h1 {
  margin: 0px;
  margin-left: 20px;
}

.form {
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 10px;
  width: 95%;
}

.form-block {
  padding: 20px;
  width: 80%;
}

.form-label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form-input {
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px;
  height: 30px;
  width: 60%;
}

.form-row {
  margin: 10px;
}

.hearing-aids {
  flex-shrink: 1;
  width: 100%;
  height: auto;
}

.nav {
  align-items: center;
  background-color: #481e14;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 7px;
  color: darkgrey;
  display: flex;
  margin: 0;
  padding: 5px;
}

.nav-head {
  margin: 5px;
}

.submit-button {
  background-color: #9b3922;
  border-radius: 6px;
  color: darkgrey;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  width: 15%;
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .form {
    width: 95%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1280px) {
  .cta-main {
    width: 500px;
    min-width: 500px;
  }

  .form-input {
    min-width: 270px;
    width: 270px;
  }

  .submit-button {
    min-width: 70px;
    width: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  body {
    overflow: auto;
    min-width: 768px;
  }

  .cta {
    flex-direction: column;
    height: fit-content;
  }

  .cta-img {
    order: 1;
    width: 400px;
  }

  .cta-main {
    order: 2;
    min-width: 768px;
  }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  body {
    overflow: auto;
    width: 100%;
  }

  .cta {
    flex-direction: column;
    height: fit-content;
    min-width: 200px;
  }

  .cta-img {
    order: 1;
    min-width: 200px;
    max-width: 500px;
  }

  .cta-main {
    order: 2;
    min-width: 200px;
    width: inherit;
  }

  .cta-main-header h1 {
    font-size: 30px;
  }

  .cta-main-header h3 {
    font-size: 20px;
  }

  .disclaimer {
    font-size: 10px;
  }

  .footer {
    line-height: 30px;
    height: fit-content;
  }

  .footer h1 {
    font-size: 15px;
  }

  .form {
    max-height: 200px;
  }

  .form-input {
    height: 20px;
    width: 90%;
    max-width: 500px;
  }

  .form-label {
    font-size: 14px;
  }

  .submit-button {
    font-size: 14px;
    width: 65px;
  }
}
